extends layout

block content
  .box
  h1 login
  form(action= '', method='post')
    .form-group
      label(for='username') username
      input#username(type="text")
    .form-group
      label(for='password') password
      input#password(type="password")
    .form-group
      button#submit(type="submit" class="btn_submit") login
  .actions
   a(href='login')
    button got an acc? login here

script(src="../javascript/register.js")